<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.html") %>
</head>

<body>
    <%- include("partials/navigation.html") %>

    <div class="container">
        <div class="card m-5">
            <div class="card-body">
                <form action="/images/add" method="POST" enctype="multipart/form-data">
                    <div class="form-group p-4">
                        <input type="text" name="title" class="form-control" placeholder="Titulo del Album">
                    </div>
                    <div class="form-group p-4">
                        <textarea name="description" class="form-control" placeholder="Descripcion"
                            style="height: 100px; resize: none"></textarea>
                    </div>
                    <div class="input-group p-4" id="add-photo-container">
                        <div class="custom-file">
                            <input type="file" name="image" class="custom-file-input" id="addPhoto01" multiple>
                            <!-- <label for="inputGroupFile01" class="custom-file-label">Choose file</label> -->
                        </div>
                    </div>
                    <div class="row mx-4 border" style="min-height: 300px;" id="boy">
                        <div id="fondo-photo" class="justify-content-center align-items-center" style="min-height: 300px; display: flex;">
                            <span style="font-size: 5em; color: gray; margin: auto">
                                <i class="fas fa-camera"></i>
                            </span>
                        </div>
                    </div>
                    <button class="btn btn-primary m-4" id="botonn">Subir album</button>
                </form>
            </div>
        </div>
    </div>

    <%- include("partials/about.html") %>
    <%- include("partials/footer.html") %>
    <%- include("partials/script.html") %>
</body>

</html>