<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <title> Soluciones Tecnologicasasdad  </title> 
    <!-- Font Oswald-->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap" rel="stylesheet">
    <meta name= "description" content="Sitio web de Soluciones Tecnologicas"/>
    <meta name= "author" content="Lisi" />
    <meta name=keywords content="Soluciones Tecnologicas, camaras, computadoras, informatica" />
    <link rel="icon" href="../images/logo.png">
    <link rel="stylesheet" href="../css/estilos.css"/>
</head>
<body>
    <div class="encabezado">
        <nav class="menu">
            <a href="http://ibatec.com.ar/" class="logo">
                <h1> Soluciones Tecnologicas </h1>
            </a>
            <div class="opciones-menu">
                <ul>
                    <li>
                        <a href="#"> Inicio</a>    
                    </li>
                    <li>
                        <a href="#"> Servicio Tecnico </a> 
                    </li>
                    <li>
                        <a href="#"> Productos</a>
                    </li>
                    <li>
                        <a href="#"> Presupuestos</a>    
                    </li>
                    <li>
                        <a href="sites/contacto.html"> Contacto</a>   
                    </li>
                    <!-- <li>
                        <a href="#"> Ingresar</a>    
                    </li> -->
                </ul>
            </div>    
        </nav>
    </div>
    <div class="contenedor">
        <div class="cont">
            <div class="titulo">
                <h2> Contactanos </h2>			
                <p>Completá el formulario y nos pondremos en contacto. ¡Gracias!</p> <br/>
            </div>
            <form>
                <label for="nombre">
                    <p class="jul">Nombre completo<span>*</span></p> 
                </label> <br/> <input type="text" class="field" id="nombre"> 
                <label for="correo">
                    <p class="jul">Correo electrónico<span>*</span></p>  
                </label> <br/> <input type="text" class="field" id="correo">
                <label for="asunto">
                    <p class="jul">Asunto<span>*</span></p> 
                </label> <br/> <input type="text" class="field" id="asunto">
                <label for="numero">
                    <p class="jul">Número de contacto</p>
                </label> <br/> <input type="text" class="field" id="numero">
                <label for="comentario">
                    <p class="jul">Comentario:<span>*</span></p>
                </label> <br/> <textarea class="field-textarea"> </textarea>
                <div class="btn-center">
                    <button type="submit">
                        Contactarme
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="redes">
        <div class="iconos-redes">
            <a href="https://www.facebook.com/Soluciones-Tecnologicas-2283019518641632">
                <img class="icon" src="../images/iconf.png" />
            </a>
            <a href="https://www.instagram.com/sol.tec.2020/">
                <img class="icon" src="../images/iconi.png" />
            </a>
            <a href="http://www.ibatec.com.ar"> 
                <img class="icon" src="../images/iconwp.png" />
            </a>
        </div>
    </div>
    <footer class="pie">
        Copyright (c) 2020 Copyright <a href="http://www.ibatec.com.ar"> ibatec.com.ar</a> All Rights Reserved.
    </footer>
</body>
</html>