<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.html") %>
</head>
<body>
    <%- include("partials/navigation.html") %>
    <div class="container">
        <div class="row bg-dark mt-2 rounded">
            <div class="col-12">
                <h2 class="text-center text-white p-1">Descarga lo que necesitas</h2>
            </div>
        </div>

        <div class="row p-3">
            <div class="col-sm-6 p-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Descargar</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 p-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Descargar</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 p-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Descargar</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 p-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Descargar</a>
                  </div>
                </div>
              </div>
          </div>

    </div>
    
    <%- include("partials/about.html") %>
    <%- include("partials/footer.html") %>
    <%- include("partials/script.html") %>
</body>
</html>