<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <title> Soluciones Tecnologicas </title> 
    <!-- Font Oswald-->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap" rel="stylesheet">
    <meta name= "description" content="Sitio web de Soluciones Tecnologicas"/>
    <meta name= "author" content="Lisi" />
    <meta name=keywords content="Soluciones Tecnologicas, camaras, computadoras, informatica" />
    <link rel="icon" href="../images/logo.png">
    <link rel="stylesheet" href="../css/estilos.css"/>
</head>
<body>
    <div class="encabezado">
        <nav class="menu">
            <a href="http://ibatec.com.ar/" class="logo">
                <h1> Soluciones Tecnologicas </h1>
            </a>
            <div class="opciones-menu">
                <ul>
                    <li>
                        <a href="#"> Inicio</a>    
                    </li>
                    <li>
                        <a href="#"> Servicio Tecnico </a> 
                    </li>
                    <li>
                        <a href="#"> Productos</a>
                    </li>
                    <li>
                        <a href="#"> Presupuestos</a>    
                    </li>
                    <li>
                        <a href="sites/contacto.html"> Contacto</a>   
                    </li>
                    <!-- <li>
                        <a href="#"> Ingresar</a>    
                    </li> -->
                </ul>
            </div>    
        </nav>
    </div>
    <div class="contenedor">
        <div class="cont-des">
            <img src="../images/desarrollo.png" />
        </div>
    </div>
    <div class="redes">
        <div class="iconos-redes">
            <a href="https://www.facebook.com/Soluciones-Tecnologicas-2283019518641632">
                <img class="icon" src="../images/iconf.png" />
            </a>
            <a href="https://www.instagram.com/sol.tec.2020/">
                <img class="icon" src="../images/iconi.png" />
            </a>
            <a href="https://api.whatsapp.com/send/?phone=5493764210440&text=Hola%2C+me+comunico+desde+el+sitio+web.+Quisiera+consultar+algo%3A&app_absent=0" target="_blank"> 
                <img class="icon" src="../images/iconwp.png" />
            </a>
        </div>
    </div>
    <footer class="pie">
        Copyright (c) 2020 Copyright <a href="http://www.ibatec.com.ar"> ibatec.com.ar</a> All Rights Reserved.
    </footer>
</body>
</html>