<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.html") %>
</head>
<body>
    <%- include("partials/navigation.html") %>

    <div class="container" style="height: 45em;">
        <div class="row bg-dark text-white p-2 rounded my-5">
            <div class="col-12">
                <h1 class="">Consulta los próximos eventos</h1>
            </div>
            
        </div>
        <div class="row bg-dark text-white rounded my-3">
            <div class="col">
                <span>Fecha</span><br>
                21/3/2022
            </div>
            <div class="col">
                <span>Ubicacion</span>
            </div>
            <div class="col">
                <span>Descripcion</span>
            </div>
            <div class="col">
                <span>Juez/Organo</span>
            </div>
            <div class="col">
                <span>Categoria</span>
            </div>
        </div>

        <div class="row bg-dark text-white rounded my-3">
            <div class="col">
                <span>Fecha</span><br>
                21/3/2022
            </div>
            <div class="col">
                <span>Ubicacion</span>
            </div>
            <div class="col">
                <span>Descripcion</span>
            </div>
            <div class="col">
                <span>Juez/Organo</span>
            </div>
            <div class="col">
                <span>Categoria</span>
            </div>
        </div>

    </div>

    <%- include("partials/about.html") %>
    <%- include("partials/footer.html") %>
    <%- include("partials/script.html") %>
</body>
</html>