<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.html") %>
</head>
<body>
    <%- include("partials/navigation.html") %>

    <div class="container" id="contenedor" style="height: 45em;">
        <div class="row bg-dark mt-2 rounded text-white">
            <div class="col">
                <h1 class="">Consulta los próximos eventos</h1>
            </div>
            <% if (user) { %>
                <div class="col-1">
                  <button type="button" class="btn btn-success mt-2" onclick="addEvent();">Nuevo</button>
                </div>
                <div class="col-1 m-auto">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onclick="viewDelete();">
                    <label class="form-check-label text-white" for="flexSwitchCheckDefault"> <b> Editar </b></label>
                  </div>
                </div>
            <% } %>
        </div>

        
        <% events.forEach(function(events){ %>
        <div class="row bg-dark text-white rounded my-3" id="archivos" style="position: relative;">

                <div class="col">
                    <span class="text-white text-opacity-50">Fecha</span><br>
                    <%- events.fecha.getDate() + "/" + 0 + (events.fecha.getMonth()+1) + "/" + events.fecha.getFullYear() %>
                </div>
                <div class="col">
                    <span class="text-white text-opacity-50">Ubicacion</span><br>
                    <%- events.ubicacion %>
                </div>
                <div class="col">
                    <span class="text-white text-opacity-50">Descripcion</span><br>
                    <%- events.descrip %>
                </div>
                <div class="col">
                    <span class="text-white text-opacity-50">Juez/Organo</span><br>
                    <%- events.juez %>
                </div>
                <div class="col" id="card-photo-id">
                    <span class="text-white text-opacity-50">Categoria</span><br>
                    <%- events.category %>
                    <% if (user) { %>
                        <div class="botones" style="display: none; position: absolute; right: 0px; top: 0px;">
                            <button type="button" class="btn btn-warning btn-lg"  id="editOn" onclick="location.href='/albums/delete/<%-events.id%>';loader()"><i class="fas fa-pen"></i></button>
                            <button type="button" class="btn btn-danger btn-lg"  id="editOn" onclick="location.href='/events/delete/<%-events.id%>';loader();"><i class="fas fa-trash"></i></button>
                        </div>
                    <% } %>
                </div>     
        </div>
        <% }); %>
    </div>

    <%- include("partials/about.html") %>
    <%- include("partials/footer.html") %>
    <%- include("partials/script.html") %>
</body>
</html>