<!DOCTYPE html>
<html lang="es">

<head>
  <%- include("partials/head.html") %>
</head>

<body>
  <%- include("partials/navigation.html") %>
    <div class="img-fluid topo">
      <img src="/images/Logo.jpg" class="img-fluid" alt="">
    </div>


    <ul class="nav justify-content-center bg-dark p-3" id="navegacion">
      <li class="nav-item">
        <a class="nav-link text-white fs-5" href="#quienes-somos">Empresa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white fs-5" href="/news">Noticias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white fs-5" href="/events">Eventos</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link text-white fs-5" href="/winners">Ganadores</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link text-white fs-5" href="/album">Fotos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white fs-5" href="/downloads">Descargas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white fs-5" aria-current="page" href="/contact">Contacto</a>
    </ul>
    <div class="contenedor">

      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="images/S01.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/S02.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/S03.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    
    <div class="container">

      <ul class="nav nav-dark mt-3 fs-4">
        <li class="nav-item">
          <a class="nav-link text-white bg-dark rounded border border-light" aria-current="page" href="#">Ultimos eventos:</a>
        </li>
      </ul>

      <div class="row row-cols-1 row-cols-md-3 g-4 py-4">
        
          <% albums.forEach(function(albums){ %>

            <% foto=photos.find(element=> { console.log(element.album); return element.album.equals(albums._id);}) %>
            <div class="col">
              <div class="card bg-dark" style="min-height: 15em;">
                <a style="text-decoration:none" href="/visor/<%-albums._id%>" >
                  <img style="height: 17em;"src="<%-foto.imageURL%>" class="card-img-top img-fluid" alt="...">
                  <div class="card-body text-white">
                    <h5 class="card-title">
                      <%- albums.title %>
                    </h5>
                  </div>
                </a>
              </div>
            </div>
          <% }); %>
        
      </div>

      <ul class="nav nav-dark fs-4">
        <li class="nav-item ">
          <a class="nav-link text-white bg-dark rounded border border-light" aria-current="page" href="#">Ultimas Noticias:</a>
        </li>
      </ul>

      
        <div class="row row-cols-1 row-cols-md-2 g-4 pt-4">
          <% news.forEach(function(news){ %>
          <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="<%-news.url%>" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <a class="text-black" href="/viewNotice/<%-news._id%>" style="text-decoration: none;" >
                      <h5 class="card-title"><%-news.title%></h5>
                    </a>
                    
                    <p class="card-text"><%-news.description%></p>
                    <p class="card-text">
                      <small class="text-muted"><%-news.fecha.getDate()%> / <%-news.fecha.getMonth()%> / <%-news.fecha.getFullYear()%></small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      
      <a name="quienes-somos"></a>
      <div class="quienes-somos">
        <div class="quienes-somos-body p-3 bg-dark">
          <h1>
            <b>
              <i> ¿Quienes somos?</i>
            </b>
          </h1>
          <h4><i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos officia, facere minima quibusdam ullam beatae nesciunt, repellat nostrum quaerat harum eos vel vitae magni nemo modi exercitationem libero, sint obcaecati blanditiis dolor praesentium. Vitae doloremque fugiat quia architecto praesentium, sint nisi deserunt reprehenderit facere quas culpa magnam possimus laboriosam? Velit autem sed, accusantium quaerat ipsum itaque expedita numquam labore quis laboriosam tempora incidunt fuga reiciendis ducimus cupiditate voluptas voluptate fugiat similique aspernatur, unde dolor id necessitatibus eligendi? Numquam, alias deleniti. </i></h4>
        </div>
      </div>

    </div>
    
    

    
      <%- include("partials/about.html") %>
      <%- include("partials/footer.html") %>
    
    
    <%- include("partials/script.html") %>
</body>

</html>