<!DOCTYPE html>
<html lang="es">

<head>
  <%- include("partials/head.html") %>
</head>

<body>
  <%- include("partials/navigation.html") %>
    <div class="img-fluid topo">
      <img src="/images/Logo.jpg" class="img-fluid" alt="">
    </div>


    <ul class="nav justify-content-center bg-dark p-3">
      <li class="nav-item">
        <a class="nav-link text-white fs-5">Empresa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white fs-5" href="/news">Noticias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white fs-5" href="/events">Eventos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white fs-5" href="/winners">Ganadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white fs-5" href="/album">Fotos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white fs-5" href="/downloads">Descargas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white fs-5" aria-current="page" href="/contact">Contacto</a>
    </ul>
    <div class="contenedor">

      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="images/S01.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/S02.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/S03.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    
    <div class="container">

      <ul class="nav nav-dark bg-dark fs-4">
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="#">Ultimos eventos:</a>
        </li>
      </ul>

      <div class="row row-cols-1 row-cols-md-3 g-4 py-4">
        
          <% albums.forEach(function(albums){ %>

            <% foto=photos.find(element=> { console.log(element.album); return element.album.equals(albums._id);}) %>
            <div class="col">
              <div class="card bg-dark">
                <a style="text-decoration:none" href="/visor/<%-albums.title%>" >
                  <img style="height: 17em;"src="<%-foto.imageURL%>" class="card-img-top img-fluid" alt="...">
                  <div class="card-body text-white">
                    <h5 class="card-title">
                      <%- albums.title %>
                    </h5>
                  </div>
                </a>
              </div>
            </div>
          <% }); %>
        
      </div>

      <ul class="nav nav-dark bg-dark fs-4">
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="#">Ultimas Noticias:</a>
        </li>
      </ul>

      <div class="row row-cols-1 row-cols-md-2 g-4 pt-4">
        <div class="col">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/images/default.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Noticia ejemplo 1</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/images/default.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Noticia ejemplo 2</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/images/default.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Noticia ejemplo 3</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/images/default.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Noticia ejemplo 4</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    


    
      <%- include("partials/about.html") %>
      <%- include("partials/footer.html") %>
    
    
    <%- include("partials/script.html") %>
</body>

</html>