<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.html") %>
</head>
<body>
    <%- include("partials/navigation.html") %>

    <div class="container" id="contenedor">

      <div class="row bg-dark mt-2 rounded">
        <div class="col">
            <h2 class="text-white p-1">Noticias</h2>
        </div>
        <% if (user) { %>
          <div class="col-1">
            <button type="button" class="btn btn-success mt-2" onclick="location.href='/addNotice'">Nuevo</button>
          </div>
          <div class="col-1 m-auto">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onclick="viewDelete();">
              <label class="form-check-label text-white" for="flexSwitchCheckDefault"> <b> Editar </b></label>
            </div>
          </div>
        <% } %>
      </div>

      

        <div class="row row-cols-1 row-cols-md-4 g-4 p-4" style="min-height: 40em;">
        <% news.forEach(function(news){ %>
          <div class="col ">
              <div class="col">
                  <div class="card">
                    <img
                      src="<%- news.url %>"
                      class="card-img-top" alt="...">
                      <% if (user) { %>
                        <button type="button" class="btn btn-danger btn-lg" style="display: none; position: absolute; right: 0px; top: 0px;" id="editOn" onclick="location.href='/news/delete/<%-news._id%>';loader()"><i class="fas fa-trash"></i></button>
                      <% } %>
                    <div class="card-body">
                      <h5 class="card-title"><%- news.title %></h5>
                      <p class="card-text"> <%- news.description %> </p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">
                          <div class="row">
                              <div class="col-8"> <%- news.fecha %> </div>
                              <div class="col-4">
                                  <a class="" href="/viewNotice/<%-news._id%>" title="">Leer más</a>
                              </div>
                          </div>    
                      </small>
                    </div>
                  </div>
                </div>
          </div>
        <% }); %>
        </div>

      
      
      

      <!-- <div class="row">
        <div class="col-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div> -->

    </div>

    <%- include("partials/about.html") %>
    <%- include("partials/footer.html") %>
    <%- include("partials/script.html") %>
</body>
</html>