<!DOCTYPE html>
<html lang="en">
<head>
   <%-include("partials/head.html")%>  
</head>

<body>
<%- include("partials/navigation.html") %>

 <div class="container bg-dark my-3 rounded">
         <div class="row">
            <div class="col-lg-12 text-center my-2 text-white">
               <h2><%-title%></h2>
            </div>
         </div>
         <div class="portfolio-item row">
            <% photos.forEach(function(photos){ %>
               <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
                  <a href="<%-photos.imageURL%>" class="fancylight popup-btn" data-fancybox-group="light"> 
                  <img class="img-fluid" src="<%-photos.imageURL%>" alt="">
                  </a>
               </div>
            <% }); %>
         </div>
      </div>
<%- include("partials/about.html") %>
<%- include("partials/footer.html") %>
<%- include("partials/script.html") %>
</body>
</html>     
      
