<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.html") %>
</head>
<body>
    <%- include("partials/navigation.html") %>

    <div class="container">
        <% if (user) { %>
            <div class="row">
              <div class="col-6 col-sm-2">
                <button type="button" class="btn btn-info ms-4 mt-4" onclick="location.href='/addPhoto'">+ Nuevo ganador</button>
                <!-- <button type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button> -->
              </div>
              <div class="col-6 col-sm-2">
                <div class="form-check form-switch ms-4 mt-4">
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onclick="editON();">
                  <label class="form-check-label text-white" for="flexSwitchCheckDefault"> <b> Editar </b></label>
                </div>
              </div>
            </div>
          <% } %>

        <div class="winners py-4" style="min-height: 600px">
            <div class="row">
                <div class="col-9 bg-dark" style="min-height: 100px">
                    <div class="row">
                        <div class="col-12 border-bottom text-white">
                            <h3>RESULTADOS 2022</h3>
                        </div>
                        <div class="col-12 m-2 text-decoration-none text-white">
                            <h4>Marzo</h4>
                            <ul style="list-style:none">
                                <li>
                                    <a class="text-white text-decoration-none" href="">Ejemplo 1</a>
                                </li>
                                <li>
                                    <a class="text-white text-decoration-none" href="">Ejemplo 2</a>
                                </li>
                                <li>
                                    <a class="text-white text-decoration-none" href="">Ejemplo 3</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-3 bg-dark" style="min-height: 100px;">
                    <ul>
                        <li>
                            <a href="#">Ejemplo 1</a> 
                        </li>
                        <li>
                            <a href="#">Ejemplo 2</a> 
                        </li>
                        <li>
                            <a href="#">Ejemplo 3 </a> 
                        </li>
                    </ul>
                </div>
            </div>
        </div>   
    </div>




    
    <%- include("partials/about.html") %>
    <%- include("partials/footer.html") %>
    <%- include("partials/script.html") %>
</body>
</html>