<div class="container-fluid">
    <div class="row bg-dark text-white p-5 text-center" id= "about">
        <div class="col-sm-6">
            <i class="fab fa-youtube fa-10x"></i>
        </div>
        <div class="col-sm-6">
            <h3>+dbs</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim amet provident fugit sed quisquam sapiente, nesciunt, voluptate ratione quos praesentium nihil, perspiciatis voluptatum sunt quia obcaecati est reiciendis maiores labore?</p>
        </div>
    </div>
</div>