<div class="container-fluid">
    <div class="row bg-dark text-white p-4 text-center align-items-center" id="about">
        <div class="col border-end">
            <!-- <i class="fab fa-youtube fa-10x"></i> -->
            <div class="row">
                <ul class="nav">
                    <div class="col-sm-6">
                        <li class="nav-item">
                        <a class="nav-link  text-white fs-5" aria-current="page" href="#quienes-somos">Empresa</a>
                        </li>
                    </div>
                    <div class="col-sm-6">
                        <li class="nav-item">
                        <a class="nav-link  text-white fs-5" href="/news">Noticias</a>
                        </li>
                    </div>
                    <div class="col-sm-6">
                        <li class="nav-item">
                        <a class="nav-link  text-white fs-5" href="/events">Eventos</a>
                        </li>
                    </div>
                    <div class="col-sm-6">
                        <li class="nav-item">
                        <a class="nav-link  text-white fs-5" href="#">Ranking</a>
                        </li>
                    </div>
                    <div class="col-sm-6">
                        <li class="nav-item">
                        <a class="nav-link  text-white fs-5" href="#">Resultados</a>
                        </li>
                    </div>
                    <div class="col-sm-6">
                        <li class="nav-item">
                            <a class="nav-link  text-white fs-5" href="/album">Fotos </a>
                        </li>
                    </div>
                    <div class="col-sm-6">
                        <li class="nav-item">
                            <a class="nav-link  text-white fs-5" href="#">Videos</a>
                        </li>
                    </div>
                    <div class="col-sm-6">
                        <li class="nav-item">
                        <a class="nav-link  text-white fs-5" href="/downloads">Descargas</a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="row align-items-center">
                <div class="col">
                    <a class="nav-link" href="https://www.instagram.com/masdbscompetencias/" target="_blank">
                        <i class="fab fa-instagram fa-7x img-fluid text-white"></i>
                    </a>     
                </div>
                <div class="col">
                    <a class="nav-link" href="https://www.facebook.com/RichardSomArgentina/" target="_blank">
                        <i class="fab fa-facebook fa-7x text-white" color= "white"></i>
                    </a>     
                </div>
                <div class="col">
                    <a class="nav-link" href="https://api.whatsapp.com/send/?phone=549376730666&amp;text=Hola%2C+me+comunico+desde+el+sitio+web.+Quisiera+consultar+algo%3A&amp;app_absent=0" target="_blank">
                        <i class="fab fa-whatsapp fa-7x text-white" color= "white"></i>
                    </a>     
                </div>
            </div>
            
        </div>
        <div class="col">
            <h1 class="fs-1">+dbs</h1>
            <p class="fs-5 text-start">
                • Eventos y competencias <br> 
                • Servicio de mediciones para eventos <br>
                • Alquiler de Link Fm <br>
                • Servicio de transmisión de radio <br>
                • Servicio de regulación y ecualización competitiva <br> o de uso diario.
            </p>
        </div>
    </div>
</div>