<div class="container-fluid">
    <div class="row bg-dark text-white p-4 text-center align-items-center" id="about">
        <div class="col border-end">
            <!-- <i class="fab fa-youtube fa-10x"></i> -->
            <div class="row">
                <ul class="nav">
                    <div class="col-sm-6">
                        <li class="nav-item">
                        <a class="nav-link  text-white fs-5" aria-current="page" href="#">Empresa</a>
                        </li>
                    </div>
                    <div class="col-sm-6">
                        <li class="nav-item">
                        <a class="nav-link  text-white fs-5" href="#">Noticias</a>
                        </li>
                    </div>
                    <div class="col-sm-6">
                        <li class="nav-item">
                        <a class="nav-link  text-white fs-5" href="#">Eventos</a>
                        </li>
                    </div>
                    <div class="col-sm-6">
                        <li class="nav-item">
                        <a class="nav-link  text-white fs-5" href="#">Ganadores</a>
                        </li>
                    </div>
                    <div class="col-sm-6">
                        <li class="nav-item">
                        <a class="nav-link  text-white fs-5">Fotos </a>
                        </li>
                    </div>
                    <div class="col-sm-6">
                        <li class="nav-item">
                        <a class="nav-link  text-white fs-5" href="#">Descargas</a>
                        </li>
                    </div>
                    <div class="col-sm-6">
                        <li class="nav-item">
                            <a class="nav-link  text-white fs-5" href="#">Contacto</a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="row align-items-center">
                <div class="col">
                    <i class="fab fa-facebook fa-7x img-fluid"></i>
                </div>
                <div class="col">
                    <i class="fab fa-whatsapp fa-7x" color= "white"></i>
                </div>
            </div>
            
        </div>
        <div class="col">
            <h1 class="fs-1">+dbs</h1>
            <p class="fs-5 text-start">
                • Eventos y competencias <br> 
                • Servicio de mediciones para eventos <br>
                • Alquiler de Link Fm <br>
                • Servicio de transmisión de radio <br>
                • Servicio de regulación y ecualización competitiva <br> o de uso diario.
            </p>
        </div>
    </div>
</div>