<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand fs-3" href="/">+dbs</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active fs-5" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active fs-5" href="/contact">Contacto</a>
                </li>
                <% if (user) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fs-5" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Usuario
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="/Perfil">Perfil</a></li>
                          <li><a class="dropdown-item" href="/logout">Cerrar Sesion</a></li>
                        </ul>
                      </li>
                <% } else { %>
                <li class="nav-item">
                    <a class="nav-link fs-5" href="/login">Ingresar</a>
                </li>
                <% } %>
                <!--<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>-->
            </ul>
            
            <form class="d-flex">
                <a class="nav-link" href="https://www.facebook.com/RichardSomArgentina/" target="_blank">
                    <span style="font-size: 1.5em; color: white;">
                        <i class="fab fa-facebook"></i>
                    </span>     
                </a>
                <a class="nav-link" href="https://api.whatsapp.com/send/?phone=549376730666&amp;text=Hola%2C+me+comunico+desde+el+sitio+web.+Quisiera+consultar+algo%3A&amp;app_absent=0" target="_blank">
                    <span style="font-size: 1.5em; color: white;">
                        <i class="fab fa-whatsapp" color= "white"></i>
                    </span>
                </a>
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </div>
</nav>