<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.html") %>
</head>
<body>
    <%- include("../partials/navigation.html") %>
  <div class="container" id="contenedor">
        <div class="row bg-dark mt-2 rounded">
            <div class="col">
                <h2 class="text-white p-1">Videos </h2>
            </div>
            <% if (user) { %>
              <div class="col-1">
                <button type="button" class="btn btn-success mt-2" onclick="addVideo();">Nuevo</button>
              </div>
              <div class="col-1 m-auto">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onclick="viewDelete();">
                  <label class="form-check-label text-white" for="flexSwitchCheckDefault"> <b> Editar </b></label>
                </div>
              </div>
            <% } %>
        </div>

        <div class="row p-3" id="archivos" style="min-height: 25em; position: relative;">
        <% if(!videos.isEmpty){ %>
          <% videos.forEach(function(videos){ %>
          <div class="col-sm-6">
            <% if (user) { %>
              <div class="botones" style="display: none; position: absolute;">
                <button type="button" class="btn btn-warning btn-lg"  id="editOn" onclick="location.href='/videos/delete/<%-videos.id%>';loader()"><i class="fas fa-pen"></i></button>
                <button type="button" class="btn btn-danger btn-lg"  id="editOn" onclick="location.href='/videos/delete/<%-videos.id%>';loader()"><i class="fas fa-trash"></i></button>
              </div>
            <% } %>
            <div class="bg-dark rounded" style="width: 100%; height: 100%">
              <div class="tittle text-white text-center">
                <h3><%- videos.title %></h3>
              </div>
              <div class="iframe text-center" style="height: 35vh;">
                <iframe width="100%" height="100%" src="<%- videos.url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </div>
          <% }); %>
        <% } %>
        </div>

  </div>
    
    <%- include("../partials/about.html") %>
    <%- include("../partials/footer.html") %>
    <%- include("../partials/script.html") %>
</body>
</html>